blinker==1.4
certifi==2018.8.24
chardet==3.0.4
Click==7.0
Flask==1.0.2
Flask-DebugToolbar==0.10.1
Flask-SQLAlchemy==2.3.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
nltk==3.3
pkg-resources==0.0.0
psycopg2==2.7.5
requests==2.19.1
six==1.11.0
SQLAlchemy==1.2.12
urllib3==1.24.2
vaderSentiment==3.2.1
Werkzeug==0.14.1
