<!doctype html>
<html>
<head>
 {% block head %}

 {% endblock %}



    
    <title>Reviews</title>
</head>

<body>


  


    {% if "user_id" in session %}
  <form action="/logout">
    <input type="submit" value="Logout" />
</form>
{% else %}
  <form action="/login">
    <input type="submit" value="Login" />
</form>
{% endif %}

<hr>

{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
<!--Import jQuery before materialize.js-->
      

{% endblock %}





</body>
</html>