<!doctype html>
<html>
<head>

     <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>
      <link rel="stylesheet" type="text/css" href="../static/css/personal_stylesheet.css"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

      <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">

      <style type="text/css">
        .flash {
          color: red;
        }
      </style>

  

 {% block head %}
 {% endblock head %}

<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body>
    <!-- ################### Nav bar ###################################### -->
    <nav>
      <div class="nav-wrapper transparent">
        <a href="/" class="brand-logo deep-orange-text text-accent-3 ">SAFIYA</a>
        <ul class="right hide-on-med-and-down" >
          <li><a href="/about" class="deep-orange-text mynavclass">About</a></li>
          <li><a href="/search" class="deep-orange-text mynavclass">Search</a></li>
          <li><a href="/check_your_review" class="deep-orange-text mynavclass">TryMe</a></li>
          <li><a href="/profile" class="deep-orange-text mynavclass">User Profile</a></li>
          {% if "user_id" in session %}
          <li><a href="/logout" class="deep-orange-text mynavclass">Logout</a></li>
          {% else %}
          <li><a href="/login" class="deep-orange-text mynavclass">Login</a></li>
          <li><a href="/register" class="deep-orange-text mynavclass">Sign Up</a></li>
          {% endif %}
        </ul>
      </div>
    </nav>
    <!-- ################### Nav bar ###################################### -->



    <div class="flash messages">
        <ul>
    {% for flash in get_flashed_messages() %}
      <li>{{ flash }}</li>
    {% endfor %}
        </ul>
    </div>

{% block content %}      

{% endblock %}
        <!-- ###################CSS styling ##################################-->
        <script type="text/javascript" src="../static/css/js/materialize.min.js"></script>

        <!-- ########################################################################## -->


</body>
</html>