{% extends 'base.html' %}

{% block head %}


{% endblock %}



{% block content %}

<div class="row">
  <form class="col s12" action="/process_check_your_review" method="POST" id="senti">
    <div class="row">
      <div class="input-field col s8">
        <input placeholder="Enter your review" type="text" name="review" id="user-review" style="width:1000px" required>
        
      </div>
    </div>
    <div class="row">
      <button class="waves-effect waves-light btn" type="submit">Get Score</button>
    </div>
  </form>
</div>



  <div>
    <h5 id="review-score"></h5>
  </div>



  <script src="/static/js/check_your_review_score.js">



  </script>

{% endblock %}