{% extends 'base.html' %}

{% block head %}
  
{% endblock head %}


{% block content %}

  <h2>Login</h2>
  <div class="row">
    <form class="col s12" action="/process_login" method = "POST">
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Email Address" id="email" name="email" required type="email" class="validate">
          <!-- <label for="email">Email</label> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Password" id="password" name="password" required type="password" class="validate">
          <!-- <label for="password">Password</label> -->
        </div>
      </div>
      <div class="row">
        <input class="waves-effect waves-light btn" type="submit" value="Log In">
      </div>
    </form>
  </div>

  <!-- <form action="/process_login" method = "POST">
    
    <div>
      <label>Email:
        <input type="email" name="email" required>
      </label>
    </div>
 
    
    <div>
      <label>Password:
        <input type="password" name="password" required>
      </label>
    </div>
 
    
    <div >
      <input class="waves-effect waves-light btn" type="submit" value="Log In">
    </div>
  

  </form> -->




{% endblock %}