{% extends 'base.html' %}
{% block content %}

<h3>Select 2 types of cuisines you like..</h3>
<div class="row">
    <form class="col s12" action="process_preferences" method="POST">
      <div class="row">
        <h6>Preference 1</h6>

        <select name= "pref1">
          <option value="american">American</option>
          <option value="indian">Indian</option>
          <option value="thai">Thai</option>
      </select>
        <div class="row">
          <h6>Preference 2</h6>

          <select name= "pref2">
            <option value="american">American</option>
            <option value="indian">Indian</option>
            <option value="thai">Thai</option>
            </select>
        </div>
        <div class="row">
          <input class="waves-effect waves-light btn" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>





{% endblock %}