{% extends 'base.html' %}

{% block head %}
  
{% endblock head %}

{% block content %}


  <h2>Register</h2>
  <div class="row">
    <form class="col s12" action="/process_registeration" method="POST">
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="First Name" id="first_name" name="firstname" required type="text" class="validate">
          <!-- <label for="first_name">First Name</label> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Last Name" id="last_name" name="lastname" required type="text" class="validate">
          <!-- <label for="last_name">Last Name</label> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Email Address" id="email" name="email" required type="email" class="validate">
          <!-- <label for="email">Email</label> -->
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Password" id="password" name="password" required type="password" class="validate">
          <!-- <label for="password">Password</label> -->
        </div>
      </div>
      <div class="row">
        <input class="waves-effect waves-light btn" type="submit" value="Register">
      </div>
    </form>
  </div>




<!-- <div class = "form">
  <form action="process_registeration" method="POST">

    <div>
      <label>
        First Name
        <input type="text" name="firstname" required>
      </label>
    </div>

    <div>
      <label>
        Last Name
        <input type="text" name="lastname" required>
      </label>
    </div>

    <div>
      <label>
        Email
        <input type="email" name="email" required>
      </label>
    </div>

    <div>
      <label>
        Password
        <input type="password" name="password" required>
      </label>
    </div>

   

    <div>
      <input class="waves-effect waves-light btn" type="submit" value="Register">
    </div>

  </form>

</di -->

{% endblock %}