{% extends 'base.html' %}

{% block head %}
  
{% endblock head %}

{% block content %}


  <h2>Register</h2>
  <div class="row">
    <form class="col s12" action="/process_registeration" method="POST">
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="First Name" id="first_name" name="firstname" required type="text" class="validate">
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Last Name" id="last_name" name="lastname" required type="text" class="validate">
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Email Address" id="email" name="email" required type="email" class="validate">
          
        </div>
      </div>
      <div class="row">
        <div class="input-field col s8">
          <input placeholder="Password" id="password" name="password" required type="password" class="validate">
          
        </div>
      </div>
      <div class="row">
        <input class="waves-effect waves-light btn" type="submit" value="Register">
      </div>
    </form>
  </div>





{% endblock %}