{% extends 'base.html' %}
{% block content %}




<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>




<div>
    
<ul>
   
   {% for count in range(length) %}
 
   
       <div class="col s8">
        <!-- <h2 class="header">Horizontal Card</h2> -->
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{image[count]}}" height= "100" width="200">
          </div>
          <div class="card-stacked">
            <div class="card-content">
                <h4>
                    <a href="/process_searchbox/{{biz_id[count]}}">{{name[count]}}</a>
                </h4>
                <a id = "add-to-fav-button" class="waves-effect waves-light btn" data-id={{biz_id[count]}} data-category={{categories[count]}} data-price={{price[count]}} data-name={{name[count]}} data-image={{image[count]}}>Add to Favourite</a>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </div>
      </div>
        {%endfor%}
    </ul>

    
</div> 


<br>
<br>

<div>
    {% if offset > 0 %}
        <a href="/process_searchbox?zipcode={{zipcode}}&cuisine={{cuisine}}&offset={{offset-10}}">PREVIOUS</a>

    {% endif %}

    <a href="/process_searchbox?zipcode={{zipcode}}&cuisine={{cuisine}}&offset={{offset+10}}">NEXT</a>
    
    
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/js/add_user_fav.js"></script>






    

{% endblock %}
