{% extends 'base.html' %}
{% block head %}
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="../static/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% endblock %}



{% block content %}



<!-- ####################CSS styling########## -->
<a class="waves-effect waves-light btn">button</a>
<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>

<!-- ####################CSS styling########## -->



<div>
    
<ul>
   
   {% for business in businesses %}
 
   
       <div class="col s8">
        <!-- <h2 class="header">Horizontal Card</h2> -->
        <div class="card horizontal">
          <div class="card-image">
            <img src="{{business['image_url']}}" height= "100" width="200">
          </div>
          <div class="card-stacked">
            <div class="card-content">
                <h4>
                    <a href="/process_searchbox/{{business['id']}}?lat={{(business['coordinates'])['latitude']}}&lng={{(business['coordinates'])['longitude']}}&name={{business['name']}}" class="map">{{business['name']}}</a>
                </h4>
                <a id = "add-to-fav-button" class="waves-effect waves-light add-to-fav-button btn" data-id={{business['id']}} data-rating={{business['rating']}} data-category={{(((business['categories'])[0])['title'])}} data-price={{business['price']}} data-name={{business['name']}} data-image={{business['image_url']}}>Add to Favourite</a>
            </div>
            <!-- <div class="card-action">
              <a href="#">This is a link</a>
            </div> -->
          </div>
        </div>
      </div>
        {%endfor%}
    </ul>

    
</div> 





<br>
<br>

<div>
    {% if offset > 0 %}
        <a href="/process_searchbox?zipcode={{zipcode}}&cuisine={{cuisine}}&offset={{offset-10}}">PREVIOUS</a>

    {% endif %}

    <a href="/process_searchbox?zipcode={{zipcode}}&cuisine={{cuisine}}&offset={{offset+10}}">NEXT</a>
    
    
</div>

<!-- ###################CSS styling ##################################-->
  <script type="text/javascript" src="../static/js/materialize.min.js"></script>
<!-- ########################################################################## -->
<script src="/static/js/add_user_fav.js"></script>





    

{% endblock %}
